
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>angular-signalr-getting-started</title>
</head>
<body data-ng-app="app">
    <div> 
        @RenderBody()                
    </div>
    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/jquery.signalR-2.2.0.js"></script>
    <script src="~/lib/angular.js"></script>
    <script src="~/lib/angular-route.js"></script>
    <script src="~/lib/ngX.js"></script>
    <script src="~/dist/app.js"></script>
</body>
</html>
